

html {
  margin: 0;
  line-height: 1.15;

}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, Athelas, times, serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
  letter-spacing: .02em;
  color: #000;
  background-color: #fff;
  transition: background-color 1s ease;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: Georgia, Athelas, times, serif;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .6em;

}



.year {
  font-size: 4em;
}

.yeardesc {
  font-size: 1.5em;
}

.largetxt {
  font-size: 2.5em;
}

.mediumtxt {
  font-size: 1.5em;
}

.blackbg {
  background-color: #000;
  color: #fff;
}



.grid {
  height: 100%
  width: 100%;
  position: relative;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 8px;


}

.grid2 {
  height: 100%
  width: 100%;
  position: relative;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 8px;


}

.grid3 {
  height: 100%
  width: 100%;
  position: relative;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 0px;


}


.center {
  text-align: center;

}

.right{

    text-align:right;


}
.left{

    text-align:left;


}


.nick1{
    position:relative;
    width: 30%;
    align-content: center;
left: 35%;




}

.h{

    width: 15px;
    height: 30px;
    top: 90%;
    padding-left: 30px;


}
.h_2{

    width: 15px;
    height: 30px;
    top: 90%;
    padding-left: 30px;


}
.h_3{

    width: 15px;
    height: 30px;
    top: 90%;
    padding-left: 30px;


}
.h_4{

    width: 15px;
    height: 30px;
    top: 90%;
    padding-left: 30px;


}
.h_5{

    width: 15px;
    height: 30px;
    top: 90%;
    padding-left: 30px;


}

.slide1{
   font-size: 5em;
text-align: center;

}
.slide2{
    font-size: 7.5em;
    padding-bottom: 100px;
}
.slide3{
 font-size: 7em;
    padding-bottom: 0px;
}
.slide4{
   font-size: 6.5em;
    padding-bottom: 30px;

}
.slide5{
    font-size: 6.5em;
    padding-bottom: 30px;

}
.slide6{
    font-size: 6em;
    padding-bottom: 80px;
}
.slide7{
   font-size: 6em;
    padding-bottom: 220px;
}
.slide8{
      font-size: 4.8em;
     padding-bottom: 60px;


}
.slide9{
    font-size: 10em;

    text-align: center;
}



.tilt{
    width: 100%;
    align-self: center;

}




/*Code for hover*/

dfn {
  background: rgba(0,0,0,0.0);
  border-bottom: solid 8px rgba(0,0,0,0);

}
dfn::after {

content: url(Images/Tyler.png);
  position: absolute;
  top: 820px; left: -0;
  opacity: 0;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.0);
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  top: 800px; left: 100px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  transition: opacity 1000ms, top 2050ms;
}
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 450px;}
dfn:hover::before {top: 20px;}

dfn2 {
  background: rgba(0,0,0,0.0);
  border-bottom: solid 8px rgba(0,0,0,1);

}
dfn2::after {

content: url(Images/nickdomino.png);
  position: absolute;
  top: 820px; left: -0;
  opacity: 0;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.0);
  transition: opacity 250ms, top 250ms;
}
dfn2::before {
  content: '';
  top: 800px; left: 100px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  transition: opacity 1000ms, top 2050ms;
}
dfn2:hover::after,
dfn2:hover::before {opacity: 1;}
dfn2:hover::after {top: 450px;}
dfn2:hover::before {top: 20px;}







/* ANIMATION */


.animate {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ANIMATION DURATIONN */


.animate_duration {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}


/* ANIMATION DELAY */


.animateD_02 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.animateD_03 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.animateD_04 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.animateD_05 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.animateD_06 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.animateD_07 {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

.animateD_08 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}



/* ANIMATION FADES */


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.afadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.zoomInSmall {
  -webkit-animation-name: zoomInSmall;
  animation-name: zoomInSmall;
}


/* KEYFRAMES */


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, -96px, 0);
    transform: translate3d(0, -96px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, -96px, 0);
    transform: translate3d(0, -96px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-96px, 0, 0);
    transform: translate3d(-96px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-96px, 0, 0);
    transform: translate3d(-96px, 0, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(96px, 0, 0);
    transform: translate3d(96px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(96px, 0, 0);
    transform: translate3d(96px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 96px, 0);
    transform: translate3d(0, 96px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 96px, 0);
    transform: translate3d(0, 96px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 96px, 0);
    transform: translate3d(0, 96px, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 96px, 0);
    transform: translate3d(0, 96px, 0);
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-32px, 0, 0);
    transform: translate3d(-32px, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-32px, 0, 0);
    transform: translate3d(-32px, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(32px, 0, 0);
    transform: translate3d(32px, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(32px, 0, 0);
    transform: translate3d(32px, 0, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -96px, 0);
    transform: translate3d(0, -96px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -96px, 0);
    transform: translate3d(0, -96px, 0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 5);
    transform: scale3d(1, 2, 1);
      transform: rotate(0,0,0);
  }

  50% {
    -webkit-transform: scale3d(1.1, 2.1, 2.1);
    transform: scale3d(1.1, 1.1, 1.1);
      transform: rotate(200,0,0);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
      transform: rotate(200,0,0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
      transform: rotate(0,0,0);
  }

  50% {
    -webkit-transform: scale3d(1.1, 2.1, 2.1);
    transform: scale3d(1.1, 1.1, 1.1);
       transform: rotate(200,0,0);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
       transform: rotate(200,0,0);

  }
}

@-webkit-keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, -10, 0);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomInSmall {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.6, .6, .6);
    transform: scale3d(.6, .6, .6);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomInSmall {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.6, .6, .6);
    transform: scale3d(.6, .6, .6);
  }

  50% {
    opacity: 1;
  }
}


/* MEDIA SCREEN */


@media screen and (min-width:640px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-height:460px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width:960px) {
  h2 {
    font-size: 2.8em;
  }
}



